
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myAgeBracketLabel" translate="alexandriaApp.ageBracket.home.createOrEditLabel">Create or edit a AgeBracket</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.ageBracket.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="alexandriaApp.ageBracket.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.ageBracket.description"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="alexandriaApp.ageBracket.minAge" for="field_minAge">MinAge</label>
            <input type="number" class="form-control" name="minAge" id="field_minAge"
                    ng-model="vm.ageBracket.minAge"
                    required />
            <div ng-show="editForm.minAge.$invalid">
                <p class="help-block"
                    ng-show="editForm.minAge.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.minAge.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="alexandriaApp.ageBracket.maxAge" for="field_maxAge">MaxAge</label>
            <input type="number" class="form-control" name="maxAge" id="field_maxAge"
                    ng-model="vm.ageBracket.maxAge"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
