<div>
    <h2 translate="alexandriaApp.book.home.title">Books</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="book.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="alexandriaApp.book.home.createLabel">
                        Create new Book
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span translate="global.field.id">ID</span></th>
                    <th><span translate="alexandriaApp.book.title">Title</span></th>
                    <th><span translate="alexandriaApp.book.subtitle">Subtitle</span></th>
                    <th><span translate="alexandriaApp.book.ibsn">Ibsn</span></th>
                    <th><span translate="alexandriaApp.book.editionNumber">EditionNumber</span></th>
                    <th><span translate="alexandriaApp.book.keywords">Keywords</span></th>
                    <th><span translate="alexandriaApp.book.publicationDate">PublicationDate</span></th>
                    <th><span translate="alexandriaApp.book.ageBracket">ageBracket</span></th>
                    <th><span translate="alexandriaApp.book.acquisitionType">acquisitionType</span></th>
                    <th><span translate="alexandriaApp.book.publishingHouse">publishingHouse</span></th>
                    <th><span translate="alexandriaApp.book.gender">gender</span></th>
                    <th><span translate="alexandriaApp.book.author">author</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="book in vm.books track by book.id">
                    <td><a ui-sref="book-detail({id:book.id})">{{book.id}}</a></td>
                    <td>{{book.title}}</td>
                    <td>{{book.subtitle}}</td>
                    <td>{{book.ibsn}}</td>
                    <td>{{book.editionNumber}}</td>
                    <td>{{book.keywords}}</td>
                        <td>{{book.publicationDate | date:'mediumDate'}}</td>
                    <td>
                        <a ui-sref="age-bracket-detail({id:book.ageBracket.id})">{{book.ageBracket.description}}</a>
                    </td>
                    <td>
                        <a ui-sref="acquisition-type-detail({id:book.acquisitionType.id})">{{book.acquisitionType.description}}</a>
                    </td>
                    <td>
                        <a ui-sref="publishing-house-detail({id:book.publishingHouse.id})">{{book.publishingHouse.name}}</a>
                    </td>
                    <td>
                        <a ui-sref="gender-detail({id:book.gender.id})">{{book.gender.name}}</a>
                    </td>
                    <td>
                        <span ng-repeat="author in book.authors">
                            <a class="form-control-static" ui-sref="author-detail({id: {{author.id}}})">{{author.name}}</a>{{$last ? '' : ', '}}
                        <span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="book-detail({id:book.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="book.edit({id:book.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="book.delete({id:book.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
